{% load static %}
{% include "Layout/Partials/Admin/header.html" %}

          <div class="card">
            <div class="card-body">
              <h5 class="card-title fw-semibold mb-4">Forms</h5>
              <div class="card">
                <div class="card-body">
                  <form method="POST" action="{% url 'core:location' %}">
			{% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputdistname" class="form-label">Location Name</label>
                      <input type="text" class="form-control" id="exampleInputdistname" name="locationname" aria-describedby="nameHelp">
                       <label for="exampleInputdistname" class="form-label">District Name</label>

                      <select name="name1" class="form-control" id="exampleInputdistname" aria-describedby="nameHelp">
                      <option value="">Select District</option>
                        {% for i in list %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                      <!-- <div id="nameHelp" class="form-text"></div> -->


                    </div>

                    <!-- <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </div>
              </div>
              <!-- <h5 class="card-title fw-semibold mb-4">Disabled forms</h5>
              <div class="card mb-0">
                <div class="card-body">
                  <form>
                    <fieldset disabled>
                      <legend>Disabled fieldset example</legend>
                      <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Disabled input</label>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                      </div>
                      <div class="mb-3">
                        <label for="disabledSelect" class="form-label">Disabled select menu</label>
                        <select id="disabledSelect" class="form-select">
                          <option>Disabled select</option>
                        </select>
                      </div> -->
                      <!-- <div class="mb-3">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                          <label class="form-check-label" for="disabledFieldsetCheck">
                            Can't check this
                          </label>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset> -->
                  </form>
                </div>
              </div>
            </div>
          </div>

    {% include "Layout/Partials/Admin/footer.html" %}
