{% load static %}
{% include 'Layout/Partials/buyer/header.html' %}
<div class="site-section" id="properties-section">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-7 text-left">
            <h2 class="section-title mb-3">Properties</h2>
          </div>
          <div class="col-md-5 text-left text-md-right">
            <div class="custom-nav1">
              <a href="#" class="custom-prev1">Previous</a><span class="mx-3">/</span><a href="#" class="custom-next1">Next</a>
            </div>
          </div>
        </div>

        <div class="row">
        {% for i in propertyregview %}
        <div class="col-md-4">
          <div class="property">
            <a href="{% url 'buyer:aboutview' i.id %}">
              {% with i.images.first as img %}
    {% if img and img.img %}
      <img src="{{ img.img.url }}" alt="{{ i.name }}" class="img-fluid" width="500px" style="height: 300px;">
    {% else %}
      No Image
    {% endif %}
  {% endwith %}
             
            </a>
            <div class="prop-details p-3">
              <div><strong class="price">{{ i.name }}</strong></div>

              <div><strong class="price">{{ i.price }}</strong></div>
            </div>
          </div>
          </div>
          {% endfor %}
      
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <a href="{% url 'buyer:listings' %}" class="btn btn-primary btn-block">
  View All Properties
</a>

          </div>
        </div>
      </div>
    </div>
   {% include 'Layout/Partials/buyer/footer.html' %}