{% load static %}
{% include 'Layout/Partials/buyer/header.html' %}
<style>
  .site-section{
padding-top:150px;
padding-bottom:40px;
}
</style>
<div class="site-section" id="properties-section">

  <div class="container">
<div class="row mb-4">
  <div class="col-12 text-center">
    <h2 class="section-title fw-bold text-warning">CATEGORIES</h2>
  </div>
</div>

    <div class="row">
      {% for i in category %}
      <div class="col-md-4 mt-2">
      <div class="property">
        <a href="{% url 'buyer:viewproperty' i.id %}">
          <img src="/media/{{i.img}}" alt="Image" class="img-fluid" width="500px" style="height: 300px;">
        </a>
        <div class="prop-details p-3">
          <div><strong class="price">{{ i.name }}</strong></div>

          <div><strong class="price">{{ i.price }}</strong></div>
        </div>
      </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% include 'Layout/Partials/buyer/footer.html' %}
