 {% load static %}
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">KeralaNest</h2>
                <p>KeralaNest is a web-based real estate platform designed to simplify property buying, selling, and management across Kerala. The system connects buyers, sellers, and administrators through a secure and user-friendly interface, making property transactions more transparent and efficient.</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                 <li><a href="#">Home</a></li>
                  <li><a href="#">Add Property</a></li>
                  <li><a href="#">View Enquiry</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>

            </div>
          </div>

        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">


            </div>
          </div>
          <div class="footer">

  </div>
    © 2026 KeralaNest. All rights reserved.
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->


<script src="{% static 'seller/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'seller/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'seller/js/jquery-ui.js' %}"></script>
<script src="{% static 'seller/js/popper.min.js' %}"></script>
<script src="{% static 'seller/js/bootstrap.min.js' %}"></script>
<script src="{% static 'seller/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'seller/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'seller/js/aos.js' %}"></script>
<script src="{% static 'seller/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.sticky.js' %}"></script>
<script src="{% static 'seller/js/main.js' %}"></script>



  </body>
</html>
