 {% load static %}
<footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-5">
                <h2 class="footer-heading mb-4">KeralaNest</h2>
                <p>KeralaNest is a web-based real estate platform designed to simplify property buying, selling, and management across Kerala. The system connects buyers, sellers, and administrators through a secure and user-friendly interface, making property transactions more transparent and efficient.
The platform allows sellers to list properties such as land, houses, and apartments with complete details, images, and pricing information. Buyers can explore properties based on their preferences, view detailed descriptions, and contact sellers directly through the system. Administrators manage users, verify property listings, and ensure smooth platform operations..</p>
              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                 <li><a href="#">Home</a></li>
                  <li><a href="#">Add Property</a></li>
                  <li><a href="#">View Enquiry</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-4">
              <h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
            <form action="#" method="post" class="footer-subscribe">
              <div class="input-group mb-3">
                <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-primary text-black" type="button" id="button-addon2">Send</button>
                </div>
              </div>
            </form>  
            </div>
            
            <div class="">
              <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>


          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div> <!-- .site-wrap -->


<script src="{% static 'seller/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'seller/js/jquery-migrate-3.0.1.min.js' %}"></script>
<script src="{% static 'seller/js/jquery-ui.js' %}"></script>
<script src="{% static 'seller/js/popper.min.js' %}"></script>
<script src="{% static 'seller/js/bootstrap.min.js' %}"></script>
<script src="{% static 'seller/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.stellar.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'seller/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'seller/js/aos.js' %}"></script>
<script src="{% static 'seller/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'seller/js/jquery.sticky.js' %}"></script>
<script src="{% static 'seller/js/main.js' %}"></script>

    
  </body>
</html>