{% load static %}

{% include 'Layout/Partials/guest/header.html' %}

  <div class="page-wrapper" id="main-wrapper">
    <div class="position-relative overflow-hidden text-bg-light min-vh-100 d-flex align-items-center justify-content-center">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-4">
          <div class="card mb-0">
            <div class="card-body">
              <div class="text-center py-3">
                <h3 class="text-primary">Buyer Registration</h3>
                <p class="text-muted">Create your Buyer Account</p>
              </div>

              <form method="POST" action="{% url 'dashboard:buyerreg' %}">
          {% csrf_token %} 
                <div class="text-center py-3">
  <h1 class="text-primary fw-bold">BUYER REGISTRATION</h1>
  <p class="text-muted">Create your Buyer Account</p>
</div>

                <!-- Username -->
                <div class="mb-3">
                  <label class="form-label">Username</label>
                  <input type="text" name="username" class="form-control" placeholder="Enter username" required>
                </div>
                <!-- name -->
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" name="name" class="form-control" placeholder="Enter seller's name" required>
                </div>

                <!-- Email -->
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                </div>

                <!-- Password -->
                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="Enter password" required>
                </div>

                <!-- Phone -->
                <div class="mb-3">
                  <label class="form-label">Phone Number</label>
                  <input type="text" name="contact" class="form-control" placeholder="Enter phone number" required>
                </div>

                <!-- Address -->
                <div class="mb-4">
                  <label class="form-label">Address</label>
                  <textarea name="address" class="form-control" rows="3" placeholder="Enter address" required></textarea>
                </div>

                <!-- Submit -->
                <button type="submit" class="btn btn-primary w-100 py-2 fs-5 rounded-2">
                  Register
                </button>

                <div class="text-center mt-3">
                  <p class="mb-0">
                    Already have an account?
                    <a href="login.html" class="text-primary fw-bold">Sign In</a>
                  </p>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% include 'Layout/Partials/guest/footer.html' %}